registry=https://cloudbolt-499620025628.d.codeartifact.us-east-1.amazonaws.com/npm/cloudbolt-npm/
//cloudbolt-499620025628.d.codeartifact.us-east-1.amazonaws.com/npm/cloudbolt-npm/:always-auth=true
//cloudbolt-499620025628.d.codeartifact.us-east-1.amazonaws.com/npm/cloudbolt-npm/:_authToken=${CODEARTIFACT_AUTH_TOKEN}